.hidden {
	display: none;
}

/* Main page */

h1 {
	background-image: url(/static/img/keyring-logo.png);
	background-repeat: no-repeat;
	padding-left: 42px;
	margin-bottom: 30px;
}

.form-decode-old, .form-decode-new {
    margin-bottom: 4rem;
}

.format-explanation {
    color: #666;
    margin-bottom: 0.8rem;
    padding-left: 3rem;
}

.format-explanation td {
    border: 1px solid #EEE;
    color: #888;
}

.format-explanation td.lang {
    font-weight: bold;
}

.format-explanation td {
    padding: 0.5rem;
}

.format-explanation td > a {
    color: rgb(120, 120, 235);
}

fieldset{
	border-width: 1px;
	border-style: solid;
    border-color: #DDD;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 4px;
    background-color: #faffff;
    border-radius: 0.5rem;
}

label {
	color: #8AB;
	font-size: large;
}

input.form-control {
	font-weight: bolder;
}
textarea.form-control {
	font-weight: bolder;
}

.form-group {
	margin-bottom: 8px;
}

#btn-more, #btn-about {
	cursor: pointer;
}

.more ul, .about ul
{
    list-style-type: none;
    padding-left: 15px;
}
.more .btn, .about .btn {
    margin: 2px;
}

.more {
	margin-top: 40px;
}

.about {
	margin-top: 20px;
}

ul.inline > li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}

/* Redirection screen */

dl {
	border-width: 1px;
	border-style: solid;
    border-color: #DDD;
}

dd {
	padding-left: 40px;
}

.footer {
	margin-top: 50px;
}
.footer a{
	color: #777;
}
.footer a:visited{
	color: #777;
}
.footer a:hover{
	color: #55C;
}
